<mat-toolbar>
 <span>Task List</span>
 <span class="spacer"></span>
<button mat-button color="primary" class='customButton' (click)='goToAdd()'>Add Task</button>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="CreationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date: 'dd-MM-yyyy HH:mm:ss'}} </td>
      </ng-container>

      <ng-container matColumnDef="Active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" class='customButton'
            [routerLink]="['/edit',element.id]">Edit</button>
          <button mat-raised-button color="primary" class='customButton' (click)="delete(element.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>